name: CI
on:
  pull_request:
    types: [opened, synchronize, reopened] # these are the defaults - synchronize means 'commits pushed to PR'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  golang-ci:
    uses: cccteam/github-workflows/.github/workflows/golang-ci.yml@v5.14.0
    with:
      build-tags: '[""]'
      golangci-lint-version: "v2.4.0"
  semantic-pull-request-title:
    uses: cccteam/github-workflows/.github/workflows/semantic-pull-request-title.yml@v5.14.0
